html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family:arial
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #7296A2;
    position: fixed;
    height: 100%;
    top:100px;
    box-shadow: 5px grey;
}
.nav li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}
#indice{
	display: block;
    color: white;
    padding: 8px 16px;
    font-size: 30px;
    background-color: #4B9496;

}


li a:hover:not(.active) {
    background-color: #9BB5C1;
    color: white;
}
#mIzq{
    margin: 0 0 0 15%;
    padding: 2%;
    background-color: #344443;
    opacity: .85;
    padding: 0 4% 4% 4%;
    color: white;
    overflow-x: hidden;
}
.header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 1;
    overflow: hidden;
}
#head{
    width: 100%;
    height: 60%;
    color: #344443;
    text-align: center;
    background-color: #DFE0E5;
    font-family:arial;
    margin:0;
}
#fondo{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
table {
    border-collapse: collapse;
    width: 70%;
   /* border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;*/
    background-color: #344443;
    margin:auto;
}
caption{
    background-color: #344443;
    /*border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;*/    
    padding: 10px;
    text-align: left;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #142433;
}
.menuH{
    list-style-type: none;
    width: 100%;
    height: 40%;
    overflow: auto;
    background-color: #344443;
    margin:0;
}
.menuH li {
    float: left;
}

.menuH li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menuH li a:hover {
    background-color: #111;
}
.titulo{
    padding: 140px 0 0 0;
    margin:0;
}
@media only screen and (max-width: 641px) {

body{
overflow-x: hidden;
}
.mAcos{
    display: block;
    white-space: nowrap;
    list-style-type: none;
    overflow-x: auto;
}
.mAcos li {
    float: none;
    display: inline-block;
    white-space: nowrap;
}
#indice{
    display: inline-block;

}

.mAcos li a {
    display: block;
}

#mIzq{
    z-index: -1;
    margin: 0 0 0 0;
    overflow-x: hidden;
}
.nav2{
    height: 50px;
    width: 100%;
    z-index: 1;

}
.titulo{
    padding: 190px 0 0 0;
    margin:0;
}
.headerA{
    white-space: nowrap;
    overflow: hidden;
}
.menuH{
    overflow-y: hidden;
}